body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


form{
margin: 20px;
}

thead{
background-color:cyan;
}

td{
padding:5px 20px 5px 20px;
}

.formstyle{
margin-top:30px;
}